/*element selector- Third priority */
p{
	color:red;
}


/* ID selector - first priority*/
#p3{
	color:blue;
}

/*class selector- second priority*/
.green-text{
		color:darkkhaki;
}

#h{
	font-size:50px;
}

.underline-h{
	text-decoration:underline;
	
}